body{
    background-image: url('./libiarybook.jpeg');
    background-size:cover;
  }
  .image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; 
    height: auto;
    z-index: -1; 
  }

  .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }