body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px !important;
  padding: 20px;
}

/* navbar style  */
.navbar {
  background-color: #a583fc;
}
.container-fluid{
  display: flex;
  justify-content: space-between;

  .menu {
    margin-left: 79px;
    a {
      font-size: 19px;
      text-decoration: none;
      color: #f9f9f9;
    }
    a:hover{
      color:#000000
    }
    }
    .search-feild{
      .search{
        width:125px;
        i{
          font-size: 12px;
        }
      }
    }
    
    .icons{
      display:flex;
      justify-content: space-between;
      i{
        font-size: 20px;
        color:#ffffff;
      }
      i:hover{
        color:#020202
      }
    }
}

/* hero section style */
#hero {
 
  width:fit-content;
  margin-top: 12px;
  display: flex !important;
  background-color: #a583fc;
  @media  screen and (min-width:1167) and(max-width:800px) {
    width:fit-content;
  }
  image{
    width: fit-content;
    hero-img{
      width: 500px !important;
    }
  }
  .info{
    width:100%;
    background-color:#a583fc;
    display:flex;
    justify-content: center;
   
    .content-info{
      margin-top:140px;
      width: fit-content;
      h1{
        color:#000000;
        font-size: 50px;
        font-weight:600;
      }
      h5{
        color:#000000;
        font-size: 21px;
        font-weight: 502;
      }
    }

  }
  }